@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";


.hr-custom-color {
    border-color: #a05ca9;
    border-width: 1px;  
  }
  
.scroll-hidden::-webkit-scrollbar {
    display: none;   
}

.scroll-hidden {
  -ms-overflow-style: none;   
  scrollbar-width: none;  
}

.navbar {
  position: sticky; /* or `position: fixed;` if `sticky` does not meet your needs */
  top: 0;
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Allows scrolling inside the navbar if needed */
}
